body{
    margin: 0;
}

.headd{
    background-color: black;
    width: 100%;
    height: auto;
}

.bord{
    width: 100%;
    height: 100%;
    border: 5px solid black;
}

/*good todo style*/
/*effect or not?*/